$primary: #38ADF6; 
$primary-light:#35DCFF; 
$primary-dark:#5784F2; 

$secondary:#7956EC;
$secondary-light:#F773F7;
$secondary-dark:#8D09C6;

$accent:#FE935F;  
$accent-light:#FDBC44;
$accent-dark:#F76C44;

$bg: #F1F3F5; 
$bg-dark: #E4EDEF;

$element:#86A9B5;

$text: #333;
$text-muted: rgba(0,0,0,.5);

$radius:5px;
$radius-lg:10px;

$font-title: 'Dosis', sans-serif;
$font-normal: 'Roboto', Arial, sans-serif;